.hero {
  background: url("../../../src/hero.JPG") no-repeat center center/cover;
  height: 75vh;
  position: relative;
  color: white;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.hero * {
  z-index: 10;
}

.heading-h1 {
  font-size: 55px;
  /* color: #f0a500; */
  padding-top: 30px;
  padding-bottom: 10px;
}

@media (max-width: 575.98px) {
  .heading-h1 {
    text-align: center;
    font-size: 30px;
  }
}

@media (max-width: 575.98px) {
  .heading-h3 {
    font-size: 15px;
    text-align: center;
  }
}

/* .form-border {
  border: 5px solid #f0a500;
} */
.formSearchTransfer {
  position: relative;
}
.search-input {
  height: 4rem;
  margin-right: -24px;
  border-radius: 5px;
  border: none;
  margin-left: 7px;
  width: 18rem;
}
.return-search-info-disable-main {
  background-color: #e4dcdc !important;
  z-index: -1 !important;
}
.return-search-info-disable {
  cursor: not-allowed;
  pointer-events: none;

  background-color: #e4dcdc;
}

.search-input:hover {
  /* border: none; */
  /* color: #00224f; */
}

@media (max-width: 575.98px) {
  .form-search-main {
    width: 95.7%;
  }
}

.search-form {
  border: 25px solid #f0a500;

  padding: 4px;
  border-radius: 10px;
  background-color: #f0a500;
}
/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
  .search-form {
    margin-top: 25px !important;
  }
}

.search-form-selected {
  /* padding: 10px; */
  margin-bottom: 1.5rem;
  margin-left: 10px;
}
.input-col {
  position: relative;
  background-color: white;
  /* height: 4rem; */
  /* margin-right: -24px; */
  border-radius: 5px;
  border: none;
  /* margin-right: 15px; */
  margin-left: 15px;

  /* width: 18rem; */
}

/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
  .media-queries {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    margin-right: 15px;
  }
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {
  .media-queries {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {
  .media-queries {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }
}

.location-icon {
  position: absolute;
  left: 0px;
  font-size: 1.4rem;
  top: 20px;
  color: #ccc;
}

.radio-label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 15px;
}
.radio-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.radio-label:hover input ~ .checkmark {
  background-color: #ccc;
}

.radio-label input:checked ~ .checkmark {
  /* background-color: #2196f3; */
  background-color: #003580;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.radio-label input:checked ~ .checkmark:after {
  display: block;
}
.radio-label .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
.date-pick {
  height: 4rem;
  border-radius: 5px;
  border: none;
  /* margin-left: 5rem; */
}
.select-passenger-section {
  height: 4rem;
  border-radius: 5px;
  border: none;
  background-color: white;
  width: 50px;
  /* margin-right: 15px; */
}

@media (max-width: 575.98px) {
  .select-passenger-section {
    margin-right: 15px;
    /* width: 20px; */
  }
}

.select-passenger {
  height: 4rem;
  border-radius: 5px;
  border: none;
  background-color: white;
  margin-left: 10px;
  outline: none;
}

.user-icon {
  position: absolute;
  color: #ccc;
  left: 6px;
  top: 24px;
  font-size: 1.2rem;
}
.btn-search-button {
  background-color: #003580;
  border: none;
  width: 10rem;
  height: 4rem;
  font-weight: bold;
  font-size: 20px;
  /* margin-right: 5rem; */
}

/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
  .btn-search-button {
    margin-top: 6px;
    background-color: #003580;
    border: none;
    width: 100%;
    height: 4rem;
    font-weight: bold;
    font-size: 25px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .btn-search-button {
    margin-top: 6px;
    background-color: #003580;
    border: none;
    width: 100%;
    height: 4rem;
    font-weight: bold;
    font-size: 25px;
  }
}

.btn-search-button:hover {
  background-color: #00224f;
}

input::placeholder {
  color: rgb(91, 88, 88);
  /* padding: 10px; */
  padding-left: 40px;
  font-weight: bold;
}

label,
input {
  font-family: sans-serif;
}
