.shared-ride-hero {
  background: url("../../../src/hero.JPG") no-repeat center center/cover;
  height: 75vh;
  position: relative;
  color: white;
}

@media (max-width: 575.98px) {
  .shared-ride-hero {
    width: 100% !important;
  }
}
.shared-ride-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.shared-ride-hero * {
  z-index: 10;
}

.shared-ride-heading-h1 {
  font-size: 55px;

  padding-top: 30px;
  padding-bottom: 10px;
}

@media (max-width: 575.98px) {
  .shared-ride-heading-h1 {
    font-size: 30px;
    text-align: center;
  }
}
@media (max-width: 575.98px) {
  .shared-ride-heading-h3 {
    font-size: 15px;
    text-align: center;
  }
}
.shared-ride-formSearchTransfer {
  position: relative;
}
.shared-ride-search-input {
  height: 4rem;
  margin-right: -24px;
  border-radius: 5px;
  border: none;
  margin-left: 7px;
  width: 18rem;
}

.shared-ride-search-form {
  border: 25px solid #f0a500;

  padding: 4px;
  border-radius: 10px;
  background-color: #f0a500;
}
/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
  .form-shared-ride-search {
    width: 95.7%;
    margin-top: 30px;
  }
}

.shared-ride-search-form-selected {
  margin-bottom: 1.5rem;
  margin-left: 10px;
}
.shared-ride-input-col {
  position: relative;
  background-color: white;

  border-radius: 5px;
  border: none;
  margin-right: 15px;
}

/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
  .shared-ride-media-queries {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    margin-left: 15px;
  }
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {
  .shared-ride-media-queries {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {
  .shared-ride-media-queries {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }
}

.shared-ride-location-icon {
  position: absolute;
  left: 0px;
  font-size: 1.4rem;
  top: 20px;
  color: #ccc;
}

.shared-ride-date-pick {
  height: 4rem;
  border-radius: 5px;
  border: none;
}

.shared-ride-select-passenger-section {
  height: 4rem;
  border-radius: 5px;
  border: none;
  background-color: white;
}

@media (max-width: 575.98px) {
  .date-picker-col {
    width: 75%;
  }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {
  .date-picker-col {
    width: 50%;
    margin-right: 20px;
  }
}

@media (max-width: 575.98px) {
  .shared-ride-select-passenger-section {
    width: 20.4%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .shared-ride-select-passenger-section {
    width: 20.4%;
  }
}

@media (max-width: 575.98px) {
  .shared-ride-select-passenger-section {
    display: inline-block;
  }
}

.shared-ride-select-passenger {
  height: 4rem;
  border-radius: 5px;
  border: none;
  background-color: white;
  margin-left: 10px;
  outline: none;
}

.shared-ride-user-icon {
  position: absolute;
  color: #ccc;
  left: 6px;
  top: 24px;
  font-size: 1.2rem;
}
.shared-ride-btn-search-button {
  background-color: #003580;
  border: none;
  width: 10rem;
  height: 4rem;
  font-weight: bold;
  font-size: 20px;
  /* margin-right: 5rem; */
}

/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
  .shared-ride-btn-search-button {
    margin-top: 6px;
    background-color: #003580;
    border: none;
    width: 100%;
    height: 4rem;
    display: block;
    font-weight: bold;
    font-size: 25px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 768px) and (max-width: 1199.98px) {
  .shared-ride-btn-search-button {
    margin-top: 6px;
    background-color: #003580;
    border: none;
    width: 100%;
    height: 4rem;
    font-weight: bold;
    font-size: 25px;
  }
}

.shared-ride-btn-search-button:hover {
  background-color: #00224f;
}
input::placeholder {
  color: rgb(91, 88, 88);
  /* padding: 10px; */
  padding-left: 40px;
  font-weight: bold;
}

label,
input {
  font-family: sans-serif;
}
