.form-passenger {
  background-color: white !important;
  padding: 20px;
  border-radius: 10px;
}

.flight-info {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.heading-location {
  background-color: #163b6e;
  font-size: 17px;
  height: 40px;
  margin-bottom: 0px;
  padding: 10px;
  color: white;
  /* border-radius: 10px; */
}

.add-return {
  color: black;
  padding: 10px;
}

@media (max-width: 575.98px) {
  .add-return-form {
    margin-top: 50px !important;
  }
}
.add-btn {
  background-color: #f0a500;
  border: none;
  margin-left: 410px;
  height: 3.6rem;
  width: 20rem;
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 575.98px) {
  .add-btn {
    background-color: #f0a500;
    border: none;
    margin-left: 10px;
    height: 3.6rem;
    width: 95%;
    font-size: 20px;
    font-weight: bold;
    margin-top: 6rem !important;
  }
}

.add-btn:hover {
  background-color: #163b6e;
}

.continue-btn {
  background-color: #003580;
  border: none;
  margin-left: 410px;
  margin-top: 35px;
  height: 3.6rem;
  width: 20rem;
  font-size: 20px;
  font-weight: bold;
}
@media (max-width: 575.98px) {
  .continue-btn {
    background-color: #003580;
    border: none;
    margin-left: 0px;
    margin-top: 10px;
    height: 3.6rem;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    margin-top: 60px;
  }
}

.continue-btn:hover {
  background-color: #f0a500;
}
